<div class="container">
<form action=" ">

 <div class="form-group">
  <label for="username">Name:</label>
  <input type="text" class="form-control" id="username">
 </div>

  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>

<div class="form-group">
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
 </div> 

  <button type="submit" class="btn btn-default">Submit</button>
</form> 
</div>