<div class="container">
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-8 px-0">
          <h3 class="display-6 font-italic">Achla Singh(51749743)</h3>
          <ul>
            <li>Curruntly working as senior software engineer with HCL technology.</li>
            <li>Having total 4+ years of exprience (3+ years experiens in UI Developer).</li>
            <li>Good working knowledge on Application development and maintenance life cycle process.</li>
            <li>Has ability to create the website from the scratch.</li>
            <li>Has ability to convert PSD file to HTML.</li>
            <li>Team player with strong analytical, problem solving & organizational abilities.</li>
            <li>Acquired Ideas and Creativity in Web Development.</li>
            

          </ul>
        </div>
      </div>
</div>

<div class="container">
  <h2>Skills</h2>
  <div class="card-columns">
  <div class="card bg-primary">
    <div class="card-body text-center">
      <p class="card-text">HTML5,CSS3, Bootstrap3, JavaScript, Jquery</p>
    </div>
  </div>
  <div class="card bg-warning">
    <div class="card-body text-center">
      <p class="card-text">Angular2/4, Typescript</p>
    </div>
  </div>
  <div class="card bg-success">
    <div class="card-body text-center">
      <p class="card-text">SASS, CSS Grid system, Media queries, Bootstrap4 and CSS animation.</p>
    </div>
  </div>
  <div class="card bg-danger">
    <div class="card-body text-center">
      <p class="card-text">PSD file to HTML.</p>
    </div>
  </div> 
  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text">SVN, GIT, Bitbucket </p>
    </div>
  </div>
  <div class="card bg-info">
    <div class="card-body text-center">
      <p class="card-text">Singleton/Observer design pattern.</p>
<p class="card-text">RESTful web services.</p>
    </div>
  </div>
</div>
</div>

<div class="container">
  <h2>Project Detailes</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Media Project</th>
              <th></th>
              <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Duration</td>
        <td>4 month</td>
      </tr>
      <tr>
        <td>Team Size</td>
        <td>5 member</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>Software Engineer</td>
      </tr>
      <tr>
        <td>Project Description</td>
        <td><p>This project is based on Media domain .Created a website where group of users can watch informational videos. User authentication is checked while loging in to the website and for non members of the group registration request screen is promted.Once a user of specific group logs in ,they can view/create/edit their profiles and they can keep their status so other people can view their staus who are member of the group.Videos were made available to specific group where all menbers of the group can watch them to gain  health,life style, motivational speech and self awarenes related areas .</p></td>
      </tr>
      <tr>
        <td>Technical Environment</td>
        <td>HTML5,CSS3,JavaScript, jquery, Bootstrap, Media Queries, CSS Animation, angular2/4, typescript.</td>
      </tr>
            <tr>
        <td> Responsibilities</td>
        <td><ul><li>Gather and refine specifications and requirements based on technical needs.</li>
<li>	Create website layout/user interface by using standard HTML5,CSS3 and JavaScript and Bootstrap.</li>
<li>Converted whole project from mobile app to web app from scratch.</li>
<li>Converted PSD files to HTML.</li>
<li>Made responsive and cross-browser compatible</li>
<li>Did unit testing and fixed found issues.</li>
<li> Experience with Version Control systems like SVN, GIT etc.</li>
</ul></td>
      </tr>
    </tbody>
  </table>


    <table class="table">
    <thead>
      <tr>
        <th>Education Project</th>
              <th></th>
              <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Duration</td>
        <td>3 month</td>
      </tr>
      <tr>
        <td>Team Size</td>
        <td>3 member</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>Software Engineer</td>
      </tr>
      <tr>
        <td>Project Description</td>
        <td><p>This project is a website designed for school management system .Users of this application are kids studying in the school,their parents and respective subject teachers. Page for Admin activities was also provided.Responsibility of the admin was to upload images,videos and documents related to school's program, curriculam, activities and upcoming events.</p>
<p>User can visit this website to know more about school information and they can provide their feedback about the school that can be viewed by otheres.</p></td>

      </tr>
      <tr>
        <td>Technical Environment</td>
        <td>HTML5,CSS3,JavaScript, jquery, Bootstrap, Media Queries, CSS Animation.</td>
      </tr>
            <tr>
        <td> Responsibilities</td>
        <td><ul><li>Gather and refine specifications and requirements based on technical needs.</li>
<li>Create website layout/user interface by using standard HTML5,CSS3 and JavaScript and Bootstrap.</li>
<li>Created whole project from scratch.</li>
<li>Made responsive and cross-browser compatible.</li>
<li>Did unit testing and fixed found issues.</li>
<li> Experience with Version Control systems like SVN, GIT etc.</li></ul></td>
      </tr>
    </tbody>
  </table>


      <table class="table">
    <thead>
      <tr>
        <th>Internal Team portal</th>
              <th></th>
              <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Duration</td>
        <td>5 month</td>
      </tr>
      <tr>
        <td>Team Size</td>
        <td>3 member</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>Associate Software Engineer</td>
      </tr>
      <tr>
        <td>Project Description</td>
        <td><p>the tasks were displayed.This portal was used by Team members of the company where employees can access all the links to check the pending tasks and get their job done quickly. Earlier the tasks links were in different places like in emails or server directories.</p>
<p>This portal also supported admin activities where admin can create or remove the document from the list. User can access the script easily and can copy the script from the document to run a particular task.</p>
</td>

      </tr>
      <tr>
        <td>Technical Environment</td>
        <td>JSP, HTML5,CSS3,JavaScript, jquery, MySQL.</td>
      </tr>
            <tr>
        <td> Responsibilities</td>
        <td><ul><li>Gather and refine specifications and requirements based on technical needs.</li>
<li>Create website layout/user interface by using standard HTML5,CSS3 and JavaScript and Bootstrap.</li>
<li>Created whole project from scratch.</li>
<li>Made responsive and cross-browser compatible.</li>
<li>Did unit testing and fixed found issues.</li>
<li> Experience with Version Control systems like SVN, GIT etc.</li></ul></td>
      </tr>
    </tbody>
  </table>
</div>